body {
	animation-duration: 1s;
	text-align: center;

	background-image: url("airplanes-background.jpg");

	background-color: #cccccc;
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;


}

.ticket {
	height: 500px;
	width: 400px;
	border: solid;
	border-color: grey;
	text-align: center;
	border-radius: 2.5%;
	background-color: #0059b3;
	color: #ccc;
}

.ticket_flight_info{
	margin-top: 5%;
	height: 33.33%;
}

.ticket .ticket_holder {
	height: 20%;
}

.ticket .ticket_info {
	height: 43%;
}

.barcode_container {
	height: 37%;
}

.ticket_info > div{
	height: 33.33%;
}

.ticket_info > div > div {
	height: 100%;
	display: block;
	float: left;
}

.ticket_flight_info > div{
	width: 25%;
}

.ticket_location_info > div, .timing_info > div{
	width: 33.33%;
}

.solo > div{
	height: 100%;
}

.duo > div:nth-child(1){
	height: 33%;
}

.duo > div:nth-child(2){
	height: 67%;
}

p {
	margin: 0;
	font-size: 30px;
}

.airport_code > p{
	font-size: 40px;
}

.name > p {
	font-size: 45px;
}

.airline > p {
	font-size: 25px;
}

.ticket_holder{
	border-bottom: solid;
	border-color: grey;
}

.upper {
	font-size: 12px;
}

.flight:hover {
	cursor: pointer;
}
.flight:hover >td >div {
	background-color: #ffffffa0;
	color: white;
	font-size: 18px;
}
.flight > td > div {
	padding: 10px;
	margin: 2px;
	background-color: #00000048;
	border-radius: 4px
	color:white;
}

#sort_options >th >div {
	background-color: #00000090;
	font-size: 18px;
	padding: 10px;
	margin: 2px;
	border-radius: 4px
}

#map {
	height: 400px;
	width: 700px;
	margin-left:300px;
	border: solid 5px #000000a0;
}

.nav {

	display: inline-block;
	margin: 5px;
	padding: 5px;
	color:white;
	background: #000000a4;
	  border-radius: 15px;


}

.nav:hover {
	  background-color: #ffffffa5;
	  color: black;
}

/
#frominput {
	float:auto;
}
#toinput {
	float:auto;
}
/*
#filterdiv {
float:left;
}


*/
#currentdisplay {
	padding-top: 20px;
	color:white;


}
#search_display{
	text-align: center;
	padding-left:340px;

}
#search_results{
	padding-top: 20px;
	overflow:scroll;
	height:300px;

}
#search_btn {
	display: inline-block;
	margin: 5px;
	padding: 7px;
	color:white;
	background: #000000a4;
	border-radius: 15px;
	margin-top:10px;
	border:none;

}

#search_btn:hover {

	background-color: #ffffffa5;
	color: black;


}
#to_city {
	background-color: #ffffff95;
	color: black;
	border:none;
	padding:3px;
	border-radius:5px;
	text-align:center;
}
#from_city {
	background-color: #ffffff95;
	color: black;
	border:none;
	padding:3px;
	border-radius:5px;
	text-align:center;
}

#airline_filter {
	background-color: #ffffff95;
	color: black;
	border:none;
	padding:3px;
	border-radius:5px;
	text-align:center;
}

*:focus {
	outline: none;
}
